*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
 }
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}


body {
    background: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1573c486240852c0b25f6687/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg);
    min-height: 700px;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.blok {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    margin-top: 60px;
}

.blok__inform {
    display: flex;
    max-width: 1140px;
    justify-content: space-around;
}

.blok__inform_inner {
    padding: 40px 30px;
    width: calc(90% / 3);
}

.blok__inform_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg_org {
    background-color: #f9926f;
}

.bg_purp {
    background-color: #978bb7;
}

.bg_blu {
    background-color: #8193c3;
}

.blok__inform_close {
    position: relative;
    height: 15px;
    width: 15px;
    left: 280px;
}

.blok__inform_close::before {
    position: absolute;
    content: "X";
}



h3 {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
}


.blok__inform_title-img {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
    fill: white;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width:1200px) {
    .blok__inform {
        max-width:970px;
    }
    .blok__inform_close {
        left: 230px;
    }

}

@media (max-width:990px) {
    .blok__inform {
        max-width:750px;
    }
    .blok__inform_close {
        left: 160px;
    }
}


@media (max-width:770px) {
    .blok__inform {
        max-width:570px;
        flex-direction: column;

    }
    .blok__inform_inner {
        width: 100%;
        margin-bottom: 20px;
    }
    .blok__inform_close {
        left: 510px;
    }

}

@media (max-width:580px) {
    .blok__inform {
        max-width:370px;

    }
    .blok__inform_close {
        left: 310px;
    }

}

@media (max-width:370px) {
    .blok__inform {
        max-width:220px;

    }
    .blok__inform_close {
        left: 160px;
    }

}